
@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url(contacto.css);
@import url(empresa.css);
@import url(fonts.css);
@import url(footer.css);
@import url(header.css);
@import url(home.css);
@import url(informa.css);
@import url(main.css);
@import url(menu.css);
@import url(nomina-paises.css);
@import url(pag_contacto.css);
@import url(pag_nosotros.css);
@import url(pag_saphcm.css);
@import url(pag_servicios.css);
@import url(redes_sociales.css);
@import url(slider.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Taviraj', serif;
    background: #e3e3e3;
    margin: 0;
    padding: 0;
    color: #000;
    min-height: 100vh;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    z-index: 1000;
    font-size: 16px;
    background: #fff;
    margin: auto;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
}

@media screen and(max-width: 800px){
    .contenedor{
        flex-direction: column;
    }

    header{
        flex-direction: column;
    }

    menu{
        flex-direction: column;
    }

    .navega{
        flex-direction: column;
    }
}

