footer{
  background:lightgray;
  width: 100%;
  padding: 20px;
  font-size: 14px;

  /* Flex */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.links{
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.links a{
  flex-grow: 1;
  color: black;
  padding: 10px;
  text-align: center;
  border-right: 1px solid grey;
  text-decoration: none;
}

.links a:hover{
    background: grey;
    color: white;
    cursor: pointer;
}

.social{
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
}

.social a{
    flex-grow: 1;
    font-size: 30px;
    color: dodgerblue;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    
}

.social a:hover{
    background: grey;
    color: white;
    cursor: pointer;
}