header{
    background: #fff;
    width: 100%;
    height: 150px;
    padding: 0px;

    /*Flex*/
    display: -webkit-flex;
    display: -ms-flexbox;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap; 
}

header .logo{
    padding: 10px;
    color: #fff;
}

header .logo img{
    width: 150px;
    vertical-align: top;
}

header .contact img{
    padding: 10px;
    width: 100px;
    height: auto;
    vertical-align: top;
}

.contact:hover {
    cursor: pointer;
}