informa{
    background: #fff;
    width: 100%;
    padding-bottom: 5px;

    /* Flex */
    display: flex;
    flex-wrap: wrap;
}

.informacion{
    background: #fff;
    width: 100%;
    padding-left: 13px;
    padding-right: 0px;
    padding-bottom: 0px;

    /* Flex */
    display: -webkit-flex;
    display: -ms-flexbox;    
    display: flex;
    flex-wrap: wrap;    
}

.seccion{
    background: #fff;
    width: 480px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 5px;
}