.informa{
    background: #fff;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
    /* Flex */
    display: flex;
    flex-wrap: wrap;
}

.informacion{
    background: #fff;
    width: 100%;
}

.seccion{
    background: #fff;
    width: 100%;
    margin: 5px;
}

/*   Estilos Responsive   */

@media(min-width: 480px){
    .informacion{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;         
    }

    .seccion{
        width: 100%;   
    }
}    

@media(min-width: 768px){
    .informacion{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;         
    }

    .seccion{
        width: 100%;   
    }
}

@media(min-width: 1024px){
    .informacion{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;         
    }

    .seccion{
        width: 48%;   
    }

}