informa{
    background: #fff;
    width: 100%;
    padding-bottom: 20px;

    /* Flex */
    display: flex;
    flex-wrap: wrap;
}

.informacion{
    background: #fff;
    width: 100%;
    padding-left: 13px;
    padding-right: 0px;
    padding-bottom: 0px;

    /* Flex */
    display: -webkit-flex;
    display: -ms-flexbox;    
    display: flex;
    flex-wrap: wrap;    
}

.elemento{
    color: #585858;
    font-size: 13px;
    padding: 10px;
    margin: 5px;
    width: 480px;
    height: 256px;
    background: #f2f2f2;
    text-align: justify;
}

.elemento .icon, h3{
    padding-top: 20px;
    font-size: 16px;
    color: #20528D;
    text-align: center;
}

.elemento a{
    padding-left: 30px;
    font-size: 14px;
}

.elemento .icon img{
    width: 65px;
    height: 65px;
}

.elemento .texto{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    color:#8E9298;
}