imagenemp{
    width: 90%;
    background: #fff;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 150px;
    align-content: center;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 70%;
}

.main{
    width: 99%;
    height: 360px;
    padding-left: 0px;

}



@media screen and(max-width: 800px){
    .contenedor{
          flex-flow: column wrap;
    }

    imagenemp{
          flex-flow: column wrap;
    }

    .main{
        flex: 1 1 100%;
        width: 100%;
    }    

}