
/******************** Estilos del Header ***********************************/
.header{
    padding-bottom: 5px;
    width: 90%;
    max-width: 1000px;
    z-index: 1000;
    font-size: 16px;
    background: #fff;
    margin: auto;
    position: fixed;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
}

.logo-menu{
    width: 100%;
    height: 100%;
    display: flex;
}

.header .logo-menu{
    justify-content: space-between;
}

.logo{
    display: block;
    width: 130px;
    height: 130px;
}

.logo, .icon-menu{
    margin: 5px;
}

.icon-menu{
    padding-top: 5px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 25px;
    background: none;
    color: gray;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    margin-left: auto;
    margin-top: 50px;
    cursor: pointer;
}

.icon-menu:hover{
    background: #dadadf;
    color: white;
    cursor: pointer;
}

/******************** Estilos del Menu ***********************************/

.nav{
    position: absolute;
    top: 130px;
    left: -150%;
    width: 100%;
    transition: all 500ms ease;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
}

.menu{
    list-style: none;
    padding:0;
    margin-top: 10px;
}

.menu-link{
    text-align: right;
    display: block;
    padding: 10px;
    background: #dadadf;
    text-decoration: none;
    color: white;
}

.menu-link:hover, .select{
    background: white;
    color: grey;
}

.mostrar{
    left: 0;
}

@media(min-width: 770px){
    .nav{
        position:static;
        width: auto;
        z-index: 800;
    }

    .menu{
        display: flex;
    }

    .icon-menu{
        display: none;
    }

    .menu-link{
        background: none;
        color: grey;
        height: 50px;
    }

    .menu-link:hover {
        background: #dadadf;
        color: white;
    }

    .select{
        background: #dadadf;
        color: white;
    }   
}

