*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

img{
	display: block;
	max-width: 100%;
}

.contenedor {
    border: 1px solid red;
    width: 90%;
    max-width: 1000px;
    z-index: 1000;
    font-size: 16px;
    background: #fff;
    margin: auto;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
}

/******************** Estilos del Header ***********************************/
.header{
	border: 1px solid blue;
	width: 100%;
	height: 100%;	
}

.header .logo-menu{
	border: 1px solid pink;
	display: flex;
	justify-content: space-between;
}

.logo, .icon-menu1{
	margin: 5px;
}

.icon-menu1{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: gray;
	color: white;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}

/******************** Estilos del Menu ***********************************/

.nav{
	position: absolute;
	top: 170px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.menu{
	list-style: none;
	padding:0;
	margin: o;
}

.menu-link{
	display: block;
	padding: 15px;
	background: gray;
	text-decoration: none;
	color: white;
}

.menu-link:hover, .select{
	background: white;
	color: grey;
}

.mostrar{
	left: 0;
}

@media(min-width: 1024px){
	.nav{
		position:static;
		width: auto;
	}

	.menu{
		display: flex;
	}

	.icon-menu1{
		display: none;
	}

	.menu-link{
		background: none;
		color: grey;
	}

	.menu-link:hover {
		background: gray;
		color: white;
	}

	.select{
		background: grey;
		color: white;
	}
}