/*------- Contenedor principal de la página -------*/
.contenedor{
	width: 90%;
    max-width: 1000px;
    z-index: 1000;
    font-size: 14px;
    background: #fff;
    margin: auto;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
}

/*------- Contenedor de imagen de Nosotros -------*/
.imagen-nosotros{
    width: 90%;
    background: #fff;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
    align-content: center;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 70%;
    align-items: stretch;
}

.img_nosotros{
	width: 100%;
	height: 180px;
	margin-bottom: 10px;
}

.linea_nosotros{
	color: gray;
	width: 100%;
}

/*------- Contenedor de Nosotros, Misión y Visión -------*/
.informa_nosotros{
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 20px 20px -12px #000;	
	/*padding: 10px;*/

    /* Flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1 1 100%;
}

/*------- Contenedor de la sección Nosotros -------*/
.con_nosotros{
	/*------- esto crea una sombra en el contenedor  -------*/    
/*	box-shadow: 0 0 0 2px #ccc,
				0 20px 20px -12px #000;
	background: #eaeaea;*/
	box-shadow: 0 20px 20px -15px #000;
	padding: 20px;
	font-size: 14px;
    color: gray;
	text-align: justify;

	/* Flex */
    display: flex;
    flex-flow: row wrap;
}

.titulos_nosotros{
	width: 100%;
	background: #20528D;
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 20px;
	box-shadow: 0 20px 20px -15px #000;
}

/*------- Contenedor de Nosotros, Misión y Visión -------*/
.vison_mision{
	margin-top: 20px;

	/* Flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.vision, .mision{
	margin-top: 10px;
	width: 50%;
/*	box-shadow: 0 0 0 2px #ccc,
				0 20px 20px -12px #000;
	background: #eaeaea;*/
	box-shadow: 0 20px 20px -15px #000;
	padding: 20px;
	font-size: 14px;
    color: gray;
	text-align: justify;	

	/* Flex */
    display: flex;
    flex-flow: row wrap;
}

/*------- Contenedor de Valores -------*/
.valores{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 20px 20px -12px #000;	
	/*padding: 10px;*/

    /* Flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1 1 100%;
}

/*------- Contenedor del concepto de valores -------*/
.con_valores{
/*	box-shadow: 0 0 0 2px #ccc,
				0 20px 20px -12px #000;
	background: #eaeaea;*/
	box-shadow: 0 20px 20px -15px #000;
	padding: 20px;
	font-size: 14px;
    color: gray;
	text-align: justify;

	/* Flex */
    display: flex;
    flex-flow: row wrap;
}

/*------- Contenedor de efectividad, integridad, innovación -------*/
.efec_inte_innov{
	margin-top: 20px;

	/* Flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.efectividad, .integridad, .innovacion{
	margin-top: 10px;
	width: 30%;
/*	box-shadow: 0 0 0 2px #ccc,
				0 20px 20px -12px #000;
	background: #eaeaea;*/
	box-shadow: 0 20px 20px -15px #000;
	padding: 20px;
	font-size: 14px;
    color: gray;
	text-align: justify;	

	/* Flex */
    display: flex;
    flex-flow: row wrap;
}

/*------- Contenedor de etica, logro, ambiente -------*/
.etica_logro_ambi{
	margin-top: 20px;

	/* Flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.etica, .logro, .ambiente{
	margin-top: 10px;
	width: 30%;
/*	box-shadow: 0 0 0 2px #ccc,
				0 20px 20px -12px #000;
	background: #eaeaea;*/
	box-shadow: 0 20px 20px -15px #000;
	padding: 20px;
	font-size: 14px;
    color: gray;
	text-align: justify;	

	/* Flex */
    display: flex;
    flex-flow: row wrap;
}

/*------- Contenedor de concepto de nuestro equipo -------*/
.nuestro_equipo{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	/*box-shadow: 0 20px 20px -12px #000;	
	/*padding: 10px;*/

    /* Flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1 1 100%;
}

/*------- Contenedor del parrafo nuestro equipo-------*/
.equipo{
	box-shadow: 0px 20px 20px -15px #000;
	/*background: #eaeaea;*/
	padding: 20px;
	font-size: 14px;
    color: gray;
	text-align: justify;

	/* Flex */
    display: flex;
    flex-flow: row wrap;
}